<form [formGroup]="fb" fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutAlign="flex-start">
  <div class="form-group row">
    <div class=" col-lg-12" fxLayout="column wrap"
         fxLayout.xs="column"
         fxLayoutAlign="flex-start">
      <mat-form-field appearance="outline">
        <mat-label>Выберите одного</mat-label>
        <mat-select formControlName="author">
          <mat-option [value]="author.id"
            *ngFor="let author of authors">
            {{author.surname + '' + author.name + '' + author.lastname}}
          </mat-option>
          </mat-select>
        <mat-hint>Выберите автора!</mat-hint>
        <mat-error *ngIf="author.hasError('required')">Вам нужно выбрать!</mat-error>

      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Название

        </mat-label>
        <input
          formControlName="name"
          matInput
          placeholder="Введите название"/>
        <mat-error *ngIf="name.hasError('required')">Поле обязательно</mat-error>
        <mat-error *ngIf="name.hasError('maxlength')">Размер поля не более - 10 букв</mat-error>
     </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Издательство

        </mat-label>
        <input
          formControlName="publisher"
          matInput
          placeholder="Введите издательство"/>
        <mat-error *ngIf="publisher.hasError('required')">Поле обязательно</mat-error>
        <mat-error *ngIf="publisher.hasError('maxlength')">Размер поля не более - 20 букв</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Год</mat-label>
        <input
          formControlName="year"
          placeholder="Выберите год"
          required
          matInput  [matDatepicker]="picker"
          [disabled]="true"

        />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker [disabled]="false"></mat-datepicker>
        <mat-error *ngIf="year.hasError('required')">Поле обязательно</mat-error>
        <mat-error *ngIf="year.hasError('maxlength')">Размер поля не более - 10 букв</mat-error>
      </mat-form-field>
      <span class="text-danger" *ngIf="fb.hasError('bookExists')">
         Книга должа быть уникальна - измените дату издательства или название
      </span>
    </div>
  </div>

  <div fxLayout="row wrap"
       fxLayout.xs="column"
       fxLayoutAlign="center center"
       [style.margin-left]="'5px'">
    <button
      (click)="sendBookStorage()"
      [disabled]="disabled"
      class="btn btn-success"
      mat-raised-button
      color="aquamarine"
      type="submit">
      Сохранить
    </button>
  </div>

<!--  [ngClass]="{ 'spinner spinner-white spinner-left': loading }"-->
</form>
