:host {
  max-width: 700px;
  display: block;
  margin: 0 auto;
  @media screen and (max-width: 600px) {
    max-width: 100%;
    width: 100%;
  }
}

.text-danger {
  color: red;
  font-size: 10px;
  font-weight: bold;
}

.form-group {
  flex: 2;
}
