/* You can add global styles to this file, and also import other style files */

// You probably already include the core styles

$color-primary: #007bff;
$color-primary-darker: #007BFFCC;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
  font-family: 'Roboto Light', sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: $color-primary;
}

