/* You can add global styles to this file, and also import other style files */

// You probably already include the core styles

$color-primary: #007bff;
$color-primary-darker: #007BFFCC;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: $color-primary;
}


//// Base
//.btn {
//  border: none;
//  border-radius: 10px;
//  padding: 10px;
//  color: white;
//  background: $color-primary;
//}
//
//.btn-success {
//  background: #65fcc4;
//
//  &:hover {
//
//    background: aquamarine;
//    cursor: pointer;
//  }
//}

