<h3 class="header">Книги</h3>
<table class="table table-head-custom table-vertical-center" matSort (matSortChange)="sortData($event)">
  <thead>
  <tr>
    <th>
      <div class="text-nowrap">ID</div>
    </th>
    <th mat-sort-header="author">
      <div class="text-nowrap">Автор</div>
    </th>
    <th mat-sort-header="name">
      <div class="text-nowrap">Имя</div>
    </th>
    <th mat-sort-header="publisher">
      <div class="text-nowrap">Издательство</div>
    </th>
    <th mat-sort-header="year">
      <div class="text-nowrap">Год</div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of sortedData">
    <td>
      <div class="text-nowrap">{{book.id}}</div>
    </td>
    <td>
      <div class="text-nowrap">{{book.author.surname + ' ' + book.author.name + ' ' + book.author.lastname}} </div>
    </td>
    <td>
      <div class="text-nowrap">{{book.name}}</div>
    </td>
    <td>
      <div class="text-nowrap">{{book.publisher}}</div>
    </td>
    <td>
      <div class="text-nowrap">{{book.year}}</div>
    </td>
  </tr>



  </tbody>


</table>
