:host {
  max-width: 100%;
  display: block;
  margin: 10px auto 100px;
}


table {
  height: fit-content;
  border: 1px dashed #333;
  margin: 0 auto;
}

th, td {
  border: 1px solid gray;
  padding: 5px;
}

.mat-sort-header-container {
  align-items: center;
}

.header {
  margin: 0 auto;
  text-align: center;
}
